@import "../utilities/variables.scss";

main {
  .apply {
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 5rem 0;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;

      &__text {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
        color: $primary1;

        @include lg {
          gap: 3.5rem;
        }
      }

      &__img {
        flex: 1;
        min-height: 300px;
        overflow: hidden;

        img {
          @include md {
            width: 150%;
          }
        }
      }

      h1 {
        @include h1;
      }
      h3 {
        @include h3;
      }
      p {
        @include p;
      }

      @include lg {
        flex-direction: row;
      }
    }
  }

  .info {
    &__wrapper {
      display: flex;
      flex-direction: column;

      padding: 5rem 0;
      align-items: center;
      justify-content: space-between;
      gap: 2.5rem;

      &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
        color: $primary1;

        &__button {
          @include button-primary;
        }

        h2 {
          @include h2;
        }

        p {
          @include p;
        }

        @include lg {
          gap: 3rem;
        }
      }

      @include lg {
        width: 50%;
      }
    }
  }
}
