.container {
  padding: 0 1.25rem;

  // Small devices (landscape phones, 576px and up)
  @include sm {
    max-width: 540px;
    margin: 0 auto;
    padding: 0;
  }

  // Medium devices (tablets, 768px and up)
  @include md {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
  }

  // Large devices (desktops, 992px and up)
  @include lg {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }

  // X large devices (XL desktops, 1200px and up)

  @include xl {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
  }

  // XX large devices (XXL desktops, 1400px and up)
  @include xxl {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0;
  }
}

.container-fluid {
  padding: 0 1.25rem;
  width: 100%;
}
