// colors
$primary1: #d4f1f4;
$primary2: #75e6da;
$primary3: #189ab4;
$primary4: #05445e;
$primary4-darker: #032d3f;

$primary4-hover: #03334887;

$accent1: #fff4bd;
$accent2: #f4b9b8;
$accent3: #85d2d0;
$accent4: #887bb0;

$white: #fff;
$black: #000;

// fonts
$pathwayExtreme: "Pathway Extreme", sans-serif;
$brunoAce: "Bruno Ace", cursive;
$raleway: "Raleway", sans-serif;

// media breakpoints
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

//  responsive media query mixins
@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: map-get($breakpoints, "xxl")) {
    @content;
  }
}

@mixin breakpoint($customBreakpoint: 0) {
  @media (min-width: $customBreakpoint) {
    @content;
  }
}

//  text mixins
@mixin h1 {
  font-size: 2.625rem;
  font-family: $brunoAce;

  @include md {
    font-size: 3rem;
  }
  @include xl {
    font-size: 3.5rem;
  }
}

@mixin h3 {
  font-size: 1.5rem;
  font-family: $raleway;

  @include md {
    font-size: 2rem;
  }
  @include xl {
    font-size: 1.75rem;
  }
}

@mixin p {
  font-size: 0.75rem;
  line-height: 2rem;
  font-family: $raleway;

  @include sm {
    font-size: 1rem;
  }
  @include lg {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
