@import "../utilities/variables.scss";

header {
  padding: 2rem 0;
  //   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary4;
  background-image: linear-gradient(-65deg, $primary3, $primary4);
  z-index: 1000;

  .container {
    .header-wrapper {
      display: flex;

      .logo {
        img {
          width: 50%;

          @include xl {
            width: 90%;
          }
        }
      }

      .navigation {
        display: none;
        gap: 1rem;
        align-items: center;

        &__list {
          display: flex;
          align-items: center;

          &__item {
            padding: 1rem;
            transition: all 100ms linear;

            a {
              text-transform: uppercase;
              font-size: 1.25rem;
              font-weight: 600;
              color: $primary1;
              padding: 1rem;
              margin: -1rem;
              transition: all 100ms linear;
            }

            &:hover {
              background-color: $primary2;
              color: $primary4-darker;

              a {
                color: $primary4-darker;
              }
            }
          }
        }

        &__button {
          @include button-primary;
        }

        @include xl {
          display: flex;
        }
      }
    }
  }
}
